body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.error {
  color: red;
}

label {
  display: block;
  font-size: 1.25rem;
}

/* input[type="text"],
input[type="password"] {
    width: 25rem;
    font-size: 1.25rem;
    padding: .125rem;
} */

textarea {
  width: 25rem;
  height: 12.5rem;
  font-size: 1.0625rem;
  font-family: monospace;
  display: block;
  margin: 1rem;
}

hr {
  margin: 1.25rem auto;
}

.blog + .blog {
  margin-top: 1.25rem;
}

.blog-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.blog-body {
  margin: 0;
  font-size: 1.0625rem;
}

.blog-author {
  font-style: italic;
  font-size: 0.75rem;
}

nav ul {
  padding: 0;
  /*display: inline-block;*/
}

nav ul li {
  list-style: none;
  /*display: inline-block;*/
  margin-right: 0.9375rem;
}

nav #user-account {
  float: right;
}

nav a {
  background-color: lightgreen;
  border-radius: 0.125rem;
  border: none;
  color: darkgreen;
  cursor: pointer;
  display: block;
  font-size: 85%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background: lightblue;
  box-shadow: 0rem 0.3125rem 0.3125rem #777;
  left: -0.1875rem;
  position: relative;
  top: -0.1875rem;
}

main {
  display: flex;
  justify-content: flex-start;
}

.container {
  margin-left: 3rem;
}

input {
  display: block;
  font-size: 100%;
  margin: 1rem;
}

/*input[type="submit"] {
  font-size: 1.5rem;
}*/

#submit_button {
  background-color: lightgreen;
  border-radius: 0.125rem;
  border: none;
  color: darkgreen;
  cursor: pointer;
  padding: 0.5em;
}

#submit_button:hover {
  background: lightblue;
  box-shadow: 0rem 0.3125rem 0.3125rem #777;
  left: -0.1875rem;
  position: relative;
  top: -0.1875rem;
}

.flash_message {
  background-color: MistyRose;
  border-radius: 0.125rem;
  color: red;
  margin: 0.25rem;
  padding: 2rem;
}

#date {
  font-size: 50%;
}
